In [1]:
import pandas as pd
import numpy as np
surveys = pd.read_csv("data/StackOverflowDeveloperSurvey2018.csv",
usecols=['Country','Gender','OperatingSystem'],
low_memory=False)
surveys.head()

          Country OperatingSystem Gender
0           Kenya     Linux-based   Male
1  United Kingdom     Linux-based   Male
2   United States             NaN    NaN
3   United States         Windows   Male
4    South Africa         Windows   Male

In [2]:
surveys['Country'].is_unique

False

In [5]:
surveys['Country'].unique()

array(['Kenya', 'United Kingdom', 'United States', 'South Africa',
       'Nigeria', 'India', 'Spain', 'Croatia', 'Netherlands', 'Israel',
       'Sweden', 'Chile', 'Australia', 'Greece', 'Poland', 'Belgium',
       'Argentina', 'Germany', 'Russian Federation', 'Indonesia',
       'Ireland', 'France', 'Ukraine', 'Denmark', 'Dominican Republic',
       'China', 'Latvia', 'Algeria', 'Colombia', 'Japan', 'Finland',
       'Romania', 'Brazil', 'Bulgaria', 'Iran, Islamic Republic of...',
       'Nepal', 'Bangladesh', 'Pakistan', 'Canada', 'Jordan', 'Portugal',
       'Italy', 'New Zealand', 'Turkey', 'Czech Republic', 'Viet Nam',
       'Austria', 'Egypt', 'Malaysia', 'Mozambique', 'Thailand',
       'Slovakia', 'Lebanon', 'Mexico', 'Hong Kong (S.A.R.)', 'Norway',
       'Myanmar', 'Switzerland', 'South Korea', 'Hungary', 'Armenia',
       'Kazakhstan', 'United Arab Emirates', 'Singapore', 'Qatar',
       'Bosnia and Herzegovina', 'Bahrain', 'Sri Lanka', 'Cambodia',
       'Serbia', 'Philippines', 'Peru', 'Botswana', 'Paraguay', 'Georgia',
       'Uruguay', 'Belarus', 'Lithuania', 'Afghanistan', 'Estonia',
       'Malta', 'Costa Rica', 'Ghana', 'Taiwan', 'Morocco', 'Albania',
       'Saudi Arabia', 'Slovenia', 'Uzbekistan', 'Republic of Korea',
       'El Salvador', 'Iceland', 'Venezuela, Bolivarian Republic of...',
       'Nicaragua', 'Other Country (Not Listed Above)', 'Tunisia',
       'The former Yugoslav Republic of Macedonia',
       'Micronesia, Federated States of...', 'Madagascar', 'Rwanda',
       'Yemen', 'Uganda', 'United Republic of Tanzania', 'Cameroon',
       'Cuba', 'Ethiopia', 'Oman', 'Ecuador', 'Angola',
       'Republic of Moldova', 'Honduras', 'Azerbaijan', 'Cyprus',
       'Bhutan', 'Guatemala', 'Syrian Arab Republic', 'Kuwait',
       'Luxembourg', 'Jamaica', 'Zimbabwe', 'San Marino', 'Fiji',
       'Liechtenstein', 'Burundi', 'Bolivia', 'Mauritius', 'Somalia',
       'Montenegro', 'Mongolia', 'Sudan', 'Maldives', 'Turkmenistan',
       'Panama', 'Barbados', 'Lesotho', 'Namibia', 'Gabon', 'Kyrgyzstan',
       'Swaziland', 'Antigua and Barbuda', 'Marshall Islands',
       'Trinidad and Tobago', 'Senegal', 'Iraq', 'Haiti', 'Malawi',
       'Benin', 'Libyan Arab Jamahiriya', 'Tajikistan',
       'Democratic Republic of the Congo', 'Andorra', 'Guinea',
       "Côte d'Ivoire", 'Bahamas', 'Central African Republic', 'Monaco',
       'Gambia', 'Sierra Leone', 'Togo', 'Palau', 'Zambia', 'Grenada',
       'Burkina Faso', 'Belize', 'Congo, Republic of the...', 'Suriname',
       'Timor-Leste', 'Dominica', 'Solomon Islands', 'Saint Lucia',
       'Niger', 'Guyana', 'Nauru', 'Mauritania', 'Mali', 'Liberia',
       'Brunei Darussalam', 'North Korea', 'Cape Verde', 'Eritrea',
       "Democratic People's Republic of Korea", 'Djibouti', nan,
       'Guinea-Bissau'], dtype=object)

In [6]:
surveys['Country'].nunique()

183

In [7]:
len(surveys['Country'].unique())

184

In [8]:
duplicatesKeepFirst=surveys['Country'].duplicated(keep='first')

In [9]:
duplicatesKeepFirst

0        False
1        False
2        False
3         True
4        False
         ...
98850     True
98851     True
98852     True
98853     True
98854     True
Name: Country, Length: 98855, dtype: bool

In [10]:
surveys[~duplicatesKeepFirst]

                                     Country OperatingSystem  Gender
0                                      Kenya     Linux-based    Male
1                             United Kingdom     Linux-based    Male
2                              United States             NaN     NaN
4                               South Africa         Windows    Male
7                                    Nigeria         Windows  Female
...                                      ...             ...     ...
86051                                Eritrea     Linux-based    Male
89738  Democratic People's Republic of Korea             NaN     NaN
92028                               Djibouti             NaN     NaN
93487                                    NaN             NaN     NaN
96975                          Guinea-Bissau             NaN     NaN

[184 rows x 3 columns]

In [13]:
surveys.drop_duplicates(subset=['Country','OperatingSystem'],inplace=True)

In [16]:
surveys.query("Country=='Poland'")

      Country OperatingSystem Gender
30     Poland     Linux-based   Male
34     Poland         Windows   Male
232    Poland             NaN    NaN
854    Poland           MacOS   Male
72587  Poland        BSD/Unix    NaN