In [1]:
import pandas as pd
import numpy as np

In [2]:
suppliers = pd.read_csv("data/northwind-mongo-master/suppliers.csv", usecols=["SupplierID",'CompanyName','City'])

In [3]:
suppliers.head()

   SupplierID                         CompanyName         City
0           1                      Exotic Liquids       London
1           2          New Orleans Cajun Delights  New Orleans
2           3           Grandma Kelly's Homestead    Ann Arbor
3           4                       Tokyo Traders        Tokyo
4           5  Cooperativa de Quesos 'Las Cabras'       Oviedo

In [4]:
products = pd.read_csv("data/northwind-mongo-master/products.csv", usecols=["ProductID",'ProductName','SupplierID'])

In [5]:
products.head()

   ProductID                   ProductName  SupplierID
0          1                          Chai           1
1          2                         Chang           1
2          3                 Aniseed Syrup           1
3          4  Chef Anton's Cajun Seasoning           2
4          5        Chef Anton's Gumbo Mix           2

In [6]:
suppliers.merge(products, on="SupplierID").head(4)

,SupplierID,CompanyName,City,ProductID,ProductName
0,1,Exotic Liquids,London,1,Chai
1,1,Exotic Liquids,London,2,Chang
2,1,Exotic Liquids,London,3,Aniseed Syrup
3,2,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning

In [9]:
suppliers.set_index('SupplierID', inplace=True)

KeyError: "None of ['SupplierID'] are in the columns"

In [10]:
suppliers.head()

                                   CompanyName         City
SupplierID
1                               Exotic Liquids       London
2                   New Orleans Cajun Delights  New Orleans
3                    Grandma Kelly's Homestead    Ann Arbor
4                                Tokyo Traders        Tokyo
5           Cooperativa de Quesos 'Las Cabras'       Oviedo

In [12]:
suppliers.merge(products,left_index=True, right_on="SupplierID").head(4)

,CompanyName,City,ProductID,ProductName,SupplierID
0,Exotic Liquids,London,1,Chai,1
1,Exotic Liquids,London,2,Chang,1
2,Exotic Liquids,London,3,Aniseed Syrup,1
3,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning,2