In [1]:
import pandas as pd

In [5]:
surveys=pd.read_csv('data/StackOverflowDeveloperSurvey.csv',usecols=['Salary'],squeeze=Truelow_memory=False).dropna()

In [6]:
surveys.head()

      Salary
2   113750.0
14  100000.0
17  130000.0
18   82500.0
22  100764.0

In [7]:
survyes.count()

NameError: name 'survyes' is not defined

In [8]:
len(surveys)

12891

In [12]:
surveysIncrease=surveys*0.03

In [13]:
surveysIncrease.head()

     Salary
2   3412.50
14  3000.00
17  3900.00
18  2475.00
22  3022.92

In [16]:
surveysAfterIncrease = surveys + surveysIncrease

In [17]:
surveysAfterIncrease.head()

       Salary
2   117162.50
14  103000.00
17  133900.00
18   84975.00
22  103786.92

In [22]:
surveysTime=pd.read_csv('data/StackOverflowDeveloperSurvey2018.csv',usecols=['HoursOutside'],low_memory=False,squeeze=True).dropna()

In [19]:
surveysTime.value_counts()

HoursOutside
1 - 2 hours             27788
30 - 59 minutes         24002
Less than 30 minutes    11223
3 - 4 hours              7186
Over 4 hours             1825
dtype: int64

In [28]:
surveysTime=surveysTime.str.upper()

In [29]:
surveysTime

0                 1 - 2 HOURS
1             30 - 59 MINUTES
3        LESS THAN 30 MINUTES
4                 1 - 2 HOURS
5             30 - 59 MINUTES
                 ...
93408             1 - 2 HOURS
93416             3 - 4 HOURS
93435             1 - 2 HOURS
93442    LESS THAN 30 MINUTES
93462             1 - 2 HOURS
Name: HoursOutside, Length: 72024, dtype: object

In [30]:
surveysTime = surveysTime.apply(lambda atext: atext.lower())

In [31]:
surveysTime

0                 1 - 2 hours
1             30 - 59 minutes
3        less than 30 minutes
4                 1 - 2 hours
5             30 - 59 minutes
                 ...
93408             1 - 2 hours
93416             3 - 4 hours
93435             1 - 2 hours
93442    less than 30 minutes
93462             1 - 2 hours
Name: HoursOutside, Length: 72024, dtype: object

In [37]:
def ChangeDescription (napis):
    if napis == 'less than 30 minutes':
        return 'LESS THAN HALF HOUR'
    else: napis

In [38]:
ChangeDescription('less than 30 minutes')

'LESS THAN HALF HOUR'

In [40]:
ChangeDescription('dupa')

In [41]:
surveysTime2 = surveysTime.apply(ChangeDescription)

In [43]:
surveysTime2.value_counts()

LESS THAN HALF HOUR    11223
Name: HoursOutside, dtype: int64

In [44]:
surveysTime2.head(100)

0                     None
1                     None
3      LESS THAN HALF HOUR
4                     None
5                     None
              ...
129                   None
131                   None
132                   None
133                   None
134    LESS THAN HALF HOUR
Name: HoursOutside, Length: 100, dtype: object