In [3]:
import pandas as pd
import numpy as np
import math as math
import matplotlib.pyplot as plt

In [6]:
salary = pd.read_csv('data/StackOverflowDeveloperSurvey.csv', usecols=['Salary'],squeeze=True).dropna()

In [7]:
salary

2        113750.000000
14       100000.000000
17       130000.000000
18        82500.000000
22       100764.000000
             ...
51371     74193.548387
51378    107526.881720
51382     32258.064516
51387     58000.000000
51390     40000.000000
Name: Salary, Length: 12891, dtype: float64

In [8]:
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [9]:
salary.sort_values(ascending=False).head(5)

31600    197000.0
27943    195000.0
6743     195000.0
18237    195000.0
41398    195000.0
Name: Salary, dtype: float64

In [10]:
salary.sort_values().head(5)

51144    0.0
23953    0.0
23907    0.0
44841    0.0
2951     0.0
Name: Salary, dtype: float64

In [12]:
salary.sort_values(ascending=False, inplace=True)

In [13]:
salary.head()

31600    197000.0
27943    195000.0
6743     195000.0
18237    195000.0
41398    195000.0
Name: Salary, dtype: float64

In [14]:
salary.sort_index(ascending=False)

51390     40000.000000
51387     58000.000000
51382     32258.064516
51378    107526.881720
51371     74193.548387
             ...
22       100764.000000
18        82500.000000
17       130000.000000
14       100000.000000
2        113750.000000
Name: Salary, Length: 12891, dtype: float64

In [15]:
maxSalaries = salary.head(100)

In [16]:
minSalaries = salary.tail(100)

In [19]:
maxSalaries.mean()

180198.1045586777

In [21]:
minSalaries.mean()

67.08388907133794