In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
suppliers = pd.read_csv("data/northwind-mongo-master/suppliers.csv", usecols=['SupplierID','CompanyName','City'])

In [6]:
suppliers.head()

   SupplierID                         CompanyName         City
0           1                      Exotic Liquids       London
1           2          New Orleans Cajun Delights  New Orleans
2           3           Grandma Kelly's Homestead    Ann Arbor
3           4                       Tokyo Traders        Tokyo
4           5  Cooperativa de Quesos 'Las Cabras'       Oviedo

In [7]:
products = pd.read_csv("data/northwind-mongo-master/products_del_2.csv", usecols=['ProductID','ProductName','SupplierID'])

In [8]:
products.head()

   ProductID                      ProductName  SupplierID
0          1                             Chai           1
1          2                            Chang           1
2          6     Grandma's Boysenberry Spread           3
3          7  Uncle Bob's Organic Dried Pears           3
4          8       Northwoods Cranberry Sauce           3

In [13]:
sup_prod = suppliers.merge(products, how='inner',on='SupplierID', indicator= True)

In [14]:
sup_prod.head()

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
0,1,Exotic Liquids,London,1,Chai,both
1,1,Exotic Liquids,London,2,Chang,both
2,3,Grandma Kelly's Homestead,Ann Arbor,6,Grandma's Boysenberry Spread,both
3,3,Grandma Kelly's Homestead,Ann Arbor,7,Uncle Bob's Organic Dried Pears,both
4,3,Grandma Kelly's Homestead,Ann Arbor,8,Northwoods Cranberry Sauce,both

In [15]:
print(len(suppliers))

29

In [16]:
print(len(products))

68

In [25]:
print(len(sup_prod_left))

70

In [22]:
sup_prod_left = suppliers.merge(products, how='left',on='SupplierID', indicator= True)

In [23]:
sup_prod_left.head()

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
0,1,Exotic Liquids,London,1.0,Chai,both
1,1,Exotic Liquids,London,2.0,Chang,both
2,2,New Orleans Cajun Delights,New Orleans,NaN,NaN,left_only
3,3,Grandma Kelly's Homestead,Ann Arbor,6.0,Grandma's Boysenberry Spread,both
4,3,Grandma Kelly's Homestead,Ann Arbor,7.0,Uncle Bob's Organic Dried Pears,both

In [20]:
print(len(products))

68

In [21]:
print(len(sup_prod))

68

In [26]:
filter=sup_prod_left['_merge']=='left_only'

In [27]:
sup_prod_left[filter]

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
2,2,New Orleans Cajun Delights,New Orleans,NaN,NaN,left_only
67,27,Escargots Nouveaux,Montceau,NaN,NaN,left_only