In [1]:
import pandas as pd
import random as rd

In [2]:
samoloty = {'PYT001':'Airbus 320','PYT02': 'Boeing 737','PYT003':'Airbus 321'}

In [4]:
aircrafts = pd.Series(samoloty)

In [5]:
flightsList = []

In [7]:
for  i in range  (100):
    flightsList.append(rd.choice(aircrafts.index))

In [8]:
flightsList [:5]

['PYT001', 'PYT02', 'PYT02', 'PYT003', 'PYT02']

In [9]:
flights = pd.Series(flightsList)
flights.head()

0    PYT001
1     PYT02
2     PYT02
3    PYT003
4     PYT02
dtype: object

In [10]:
flights_aircrafts=flights.map(aircrafts)
flights_aircrafts.head()

0    Airbus 320
1    Boeing 737
2    Boeing 737
3    Airbus 321
4    Boeing 737
dtype: object