In [1]:
import pandas as pd

In [5]:
surveys=pd.read_csv('data/StackOverflowDeveloperSurvey.csv',usecols=['Salary'],squeeze=Truelow_memory=False).dropna()

In [6]:
surveys.head()

      Salary
2   113750.0
14  100000.0
17  130000.0
18   82500.0
22  100764.0

In [7]:
survyes.count()

NameError: name 'survyes' is not defined

In [8]:
len(surveys)

12891

In [12]:
surveysIncrease=surveys*0.03

In [13]:
surveysIncrease.head()

     Salary
2   3412.50
14  3000.00
17  3900.00
18  2475.00
22  3022.92

In [16]:
surveysAfterIncrease = surveys + surveysIncrease

In [17]:
surveysAfterIncrease.head()

       Salary
2   117162.50
14  103000.00
17  133900.00
18   84975.00
22  103786.92

In [22]:
surveysTime=pd.read_csv('data/StackOverflowDeveloperSurvey2018.csv',usecols=['HoursOutside'],low_memory=False,squeeze=True).dropna()

In [19]:
surveysTime.value_counts()

HoursOutside
1 - 2 hours             27788
30 - 59 minutes         24002
Less than 30 minutes    11223
3 - 4 hours              7186
Over 4 hours             1825
dtype: int64

In [24]:
surveysTime.str.lower().inplce=True